/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container-horizontal {
  display: flex;
  justify-content: space-between;
}

/*
  =======================================
  Custom Styles
  =======================================
*/

body {
  color: #FFF;
  font: 1.1em/normal 'Raleway', sans-serif;
  line-height: 1.3em;
}

h3 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.8em;
  margin-bottom: 1em;
}

html {
  scroll-behavior: smooth;
}

.opaque-article {
  background: rgba(0, 0, 0, 0.66);
  padding: 1em;
  width: 85%;
}

.opaque-article h3 {
  line-height: 1.5em;
  text-align: center;
}

.orange {
  color: #FF9800;
}

.button {
  background-color: #F57C00;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-text {
  color: #FFF;
  font: bold 1.66em 'Raleway', serif;
}

.button:hover {
  background-color: rgba(245, 124, 0, .75);
}

.button:active {
  background-color: #F57C00;
}

/*
  =======================================
  Navbar
  =======================================
*/

.navbar {
  background: rgba(0, 0, 0, 0.524862);
  position: fixed;
  transition: background 250ms ease-in-out;
  width: 100%;
  z-index: 1;
}

.navbar img {
  height: 1.15em;
  margin-left: .55em;
  margin-top: .33em;
  margin-bottom: .2em;
}

.scrolled {
  background: #212121;
  transition: background 250ms ease-in-out;
}

#nav-icon {
  cursor: pointer;
  height: 12px;
  position: fixed;
  right: .55em;
  top: .55em;
  width: 20px;
}

#nav-icon span {
  background: #FFF;
  display: block;
  height: .15em;
  position: absolute;
  transition: .25s ease-in-out;
  width: 100%;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 6px;
}

#nav-icon span:nth-child(4) {
  top: 12px;
}

#nav-icon.open span:nth-child(1) {
  opacity: 0;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  top: 6px;
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  opacity: 0;
}

ul {
  display: none;
}

li {
  border-top: .05em solid rgba(255, 255, 255, .9);
  text-align: right;
  padding: .5em 1.2em;
}

a {
  color: white;
  text-decoration: none;
}

/*
  =======================================
  Hero
  =======================================
*/

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/hero_image.jpg) center no-repeat fixed;
  background-size: cover;
  height: 100vh;
}

.hero img {
  margin-bottom: .5em;
}

.hero h1 {
  border-bottom: .05em solid #FFF;
  border-top: .05em solid #FFF;
  font: 3.3em/1em 'Cedarville Cursive', cursive;
  padding-bottom: .1em;
  padding-top: .2em;
  text-align: center;
}

.company-type {
  font-weight: bold;
  margin: .6em 0;
}

.year-established {
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0.15em;
}

/*
  =======================================
  Products
  =======================================
*/

.product {
  background-color: #455A64;
}

.product img {
  height: 15em;
  object-fit: cover;
  width: 100%;
}

.product article {
  height: 20em;
  width: 80%;
}

/*
  =======================================
  Location
  =======================================
*/

.location {
  background: url(assets/cafe.jpg) center no-repeat fixed;
  background-size: cover;
  height: 32em;
}

.location h3 {
  margin-bottom: .5em;
}

/*
  =======================================
  Delivery
  =======================================
*/

.delivery {
  background-color: #455A64;
  height: 71em;
}

.delivery h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1.3em;
}

.delivery img {
  border-radius: 50%;
  height: 11em;
  margin-bottom: 1.3em;
  object-fit: cover;
  width: 11em;
}

.delivery p {
  width: 60%;
  margin-bottom: 2em;
  text-align: center;
}

.delivery button {
  height: 4.5em;
  width: 21em;
}

/*
  =======================================
  About Us
  =======================================
*/

.video {
  height: 32em;
}

.video video {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
}

.about-us {
  height: 32em;
  position: absolute;
  transform: translateY(-100%);
}

.about-us h3 {
  margin-bottom: .5em;
}

/*
  =======================================
  Footer
  =======================================
*/

footer {
  background: #212121;
}

.newsletter-info {
  margin-bottom: 2em;
  padding-top: 1em;
}

form {
  margin-bottom: 1em;
  width: 100%;
}

input {
  background-color: #212121;
  border: .05em solid rgba(255, 255, 255, .9);
  color: #FFF;
  font: 1.1em/normal 'Raleway', sans-serif;
  height: 2.5em;
  padding-left: .75em;
  width: 70%;
}

input::placeholder {
  color: #FFF;
}

input[type=submit] {
  background-color: #F57C00;
  border: .05em solid rgba(255, 255, 255, .9);
  cursor: pointer;
  outline: none;
  width: 30%;
  padding: 0;
}

input[type=submit]:hover {
  background-color: rgba(245, 124, 0, .75);
}

input[type=submit]:active {
  background-color: #F57C00;
}

.footer-section {
  border-top: .05em solid rgba(255, 255, 255, .9);
  padding: 1em 1.5em;
}

.footer-section:first-child {
  border-top: 0;
}

.footer-section h4 {
  font-size: 1.20em;
  font-weight: bold;
  margin-bottom: .25em;
}

.footer-section p {
  text-align: center;
}

.footer-line-height {
  line-height: 2em;
}

.follow {
  width: 100%;
}

.legal {
  width: 60%
}

@media screen and (min-width: 600px) {
  /* Custom Styles */
  .opaque-article {
    padding: 2em;
  }
  
  /* Products */
  .product {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .product img {
    height: 20em;
  }
  
  .product img, .product article {
    width: 50%;
  }
  
  .product article {
    padding: 1.5em;
  }
  
  .product div {
    display: flex;
    flex-direction: row-reverse;
  }
  
  /* Footer */
  .newsletter-info {
    width: 60%;
  }
  
  form {
    width: 70%;
  }
  
  .follow {
    width: 60%;
  }
  
  .legal {
    width: 35%;
  }
}